
body {background-color: #ff8524;}

a { color : #ff8524 }

.btn-primary, .btn-primary.disabled, .btn-primary.disabled:hover, .btn-primary.disabled:focus {
    color: #262e2a;
  background-color: #ff8524; 
}

#indice .unit-content {     background-color: #000;  }

#indice .unit-content .header .title { color : #ff8524 }
